<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huzaif.timeyourhours"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:killAfterRestore="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.huzaif.timeyourhours.SplashActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.huzaif.timeyourhours.HomeScreen"
            android:label="@string/title_activity_home_screen" 
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huzaif.timeyourhours.TimerActivity"
            android:noHistory="true"
            android:label="@string/title_activity_timer" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huzaif.timeyourhours.UserProfile"
            android:noHistory="true"
            android:label="@string/title_activity_user_profile" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huzaif.timeyourhours.StatsActivity"
            android:label="@string/title_activity_stats" 
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huzaif.timeyourhours.GuideActivity"
            android:label="@string/title_activity_guide" 
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huzaif.timeyourhours.DatabaseData"
            android:label="@string/title_activity_database_data" 
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
